.sobre {
    padding: 60px 0;
}

.sobre-container {
    max-width: 960px;
    margin: 0 auto;
}

.sobre-container::after, .sobre-container::before {
    content: '';
    display: table;
    clear: both;
}

.sobre h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
}
.sobre-item {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.sobre-item img {
    /* por padrão a tag img tem 2px a mais, o display block reseta isso */
    display: block;
    max-width: 100%;
}

.sobre-item h3 {
    /* line-height -> para alinhar parte de cima de textos;
    os elementos, por padrão, vem com position static, então usar top ou margin-top -25px não é suficiente. Para consertar esse bug, usar z-index(só funciona com outro position: absolute ou relative;  */
    font-size: 2.25em;
    line-height: 1em;
    background: #252525;
    width: 220px;
    color: #fff;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    padding: 5px 0 10px 0;
    top: -25px;
    position: relative;
}

.sobre > p {
    font-size: 1.125em;
    line-height: 1.4em;
    font-style: italic;
    text-align: center;
    margin: 20px auto;
    max-width: 460px;
}

@media (min-width:740px) and (max-width: 980px) {
    /* max-width de 980px pq o container é de 960px mas tem a barra de scroll de 20px */
    .sobre-container {
        max-width: 720px;
     }    
    .sobre-item {
       width: 340px;
    }
}

/* ###### mobile ####### */
@media (max-width: 739px) {
    .sobre-container {
        max-width: 300px;
    }
    .sobre-item {
        width: 300px;
        margin: 0 auto;
    }
}
