figure>img {
    width: 180px;
    height: 185px;
}

figcaption {
    position: relative;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    padding: 5px;
    width: 180px;
    background-color:  #a19e9d;
    top: -50px;
    color: #fff;
    visibility: hidden;
}

figcaption>p {
    margin: 0;
    padding: 0;
}

/* .preco-prod {
    text-decoration: line-through;
    font-size: 20px;
}
.precoantes-prod{
    text-decoration: line-through;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.76);
} */
.precofinal-prod {
    text-decoration: solid;
    font-size: 22px;
    color: rgba(223, 13, 13, 0.9);
    text-shadow: 2px 1px;

}